body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logo{
    padding:5px;
}

.imgcontainer{
    display:grid;
    grid-template-columns: 33% 33% 33%;
}

@media (max-width: 1024px) {
    .imgcontainer{
        display:grid;
        grid-template-columns: 33% 33% 33%;
    }
}

@media (max-width: 800px){
    .imgcontainer{
        grid-template-columns: 50% 50%;
    }
}

@media (max-width: 480px){
    .imgcontainer{
        grid-template-columns: 100%;
    }
}

.imgcontainer img{
    width:100%;
}

p{
    line-height: 150%;
}

.p2{
    padding-top: 20px;
}

footer{
    padding:10px;
    background-color: black;
    color: white;
    text-align: center;
}